{% extends 'base.html.twig' %}

{% block title %}Liste des réclamations{% endblock %}

{% block body %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>equipement</th>
                
            </tr>
        </thead>
        <tbody>
            {% for reclamation in reclamations %}
                <tr>
                    <td>{{ reclamation.id }}</td>
                    <td>{{ reclamation.equipement.nomEquipe }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
